* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: hsl(210, 46%, 95%);
}

.container {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
}

.main-container {
    width: 80%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 100px;
    gap: 20px;
}

.box {
    width: 100%;
    border-radius: 10px;
    padding: 22px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    align-items: start;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.user-name {
    font-size: smaller;
    font-weight: none;
}

.user-name p {
    color: rgb(173, 173, 173);
    opacity: 50%;
}

.box1 {
    background-color: hsl(263, 55%, 52%);
    color: white;
    position: relative;
}

.bg-pattern-quotation {
    position: absolute;
    top: 2px;
    right: 48px;
    z-index: 0;
    height: 99px;
}


.box2 {
    background-color: hsl(217, 19%, 35%);
    color: white;
}

.box3 {
    background-color: hsl(0, 0%, 100%);
}

.box4 {
    background-color: hsl(219, 29%, 14%);
    color: white;
}

.box5 {
    background-color: hsl(0, 0%, 100%);
}

.user-details {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 11px;
    /* align-self: self-start; */
    z-index: 1;
}

.user-details:hover {
    cursor: pointer;
}

.user-image {
    border-radius: 50%;
    border-style: solid;
    border-color: hsl(210, 46%, 95%);
    width: 2.1rem;
}

.comment-heading {
    font-size: larger;
    font-weight: 500;
    margin-bottom: 12px;
    position: relative;
    z-index: 1;
}

.user-testimonial {
    font-size: 12px;
    opacity: 70%;
    line-height: 18px;
    padding: 3px;
}


footer {
    grid-column: span 2;
}

.attribution {
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}


@media(min-width:375px) {


    .main-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 8px;
    }

    .box {
        grid-auto-columns: 1fr;
        display: grid;
    }

    .box1 {
        grid-column: span 2;
        /* grid-column-end: 3; */

    }

    .box4 {
        grid-column: span 2;
    }

    .box5 {
        grid-row-start: 1;
        grid-column-start: 4;
        grid-row-end: 3;
    }

    footer {
        margin-top: 20px;
        grid-column: span 4;
    }

    .bg-pattern-quotation {
        position: absolute;
        top: 2px;
        right: 48px;
        z-index: 0;
        height: 93px;
    }
}

@media(min-width:375px) and (max-width:718px) {
    .main-container {
        display: grid;
        gap: 5px;
    }

    .box2 {
        grid-column: span 2;
        /* grid-column-end: 3; */

    }

    .box3 {
        grid-column: span 2;

    }

    .box4 {
        grid-column: span 2;
    }

    .box5 {
        grid-row-start: span 2;
        grid-column-start: 3;
        grid-column-end: 5;

    }

}


/* 
}

    .bg-pattern-quotation {
        position: absolute;
        top: 2px;
        right: 26px;
        z-index: 0;
        height: 85px;
    } */


/* .box2 {
        background-color: hsl(217, 19%, 35%);
        color: white;
    }
    
    .box3 {
        background-color: hsl(0, 0%, 100%);
    }
    
    .box4 {
        background-color: hsl(219, 29%, 14%);
        color: white;
    }
    
    .box5 {
        background-color: hsl(0, 0%, 100%);
    } */