* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2 {
    color: hsl(210, 10%, 33%);
}

p {
    color: hsl(201, 11%, 66%);
}

body {
    height: 100vh;
    width: 100%;
    background-image: url(images/bg-header-desktop.png);
    object-position: top;
    object-fit: cover;
    height: 340px;
    background-repeat: no-repeat;
    font-family: 'Quicksand', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;


}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

#header-logo {
    padding-top: 60px;
}


.first-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin-bottom: 100px;
    /* margin: auto; */
    /* background-color: black; */

}

.first-container-textbox {
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.first-container h1 {
    font-size: 2.8rem;
    margin-bottom: 13px;
}

.first-container p {
    width: 600px;
    text-align: center;
}


.first-container-last-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: 30px;
    gap: 30px;
    margin-top: 100px;
}

.first-container-last-div p {
    width: 47%;
}

.first-container-last-div h2 {
    font-size: 2rem;
}


.bn632-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:focus {
    outline: none;
}

.bn632-hover.bn26 {
    background-image: linear-gradient(to right, #26BBA4, #26BBA4, #02fdf3, #26BBA4);
    box-shadow: 0 4px 15px 0 hsl(171, 66%, 44%);
}

.container-buttons .second-button {
    background-image: linear-gradient(to right, #6173ff, #6173ff, #04befe, #6173ff);
    box-shadow: 0 4px 15px 0 #6173ff;
}


.second-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 70px;
}

.conputer-section {
    display: flex;
    gap: 90px;
}

.computer-section-texts p {
    line-height: 30px;
}

.computer-section-texts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 380px;
    line-height: 55px;
    text-align: start;
    gap: 10px;
}

.third-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* width: 60%; */
    margin: auto;
    gap: 20px;
}

.third-container-text {
    margin: 60px;
    text-align: center;
    line-height: 40px;
}

.third-container-text h1 {
    margin-bottom: 10px;
}

.third-container-text1 p {
    line-height: 30px;
    width: 80%;
    margin: auto;
}




.fetures-listing {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    text-align: center;
}

.fetures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 26%;
    align-items: center;
    gap: 13px;
}

.fetures img {
    width: 40px;
    /* margin-bottom: 20px; */
    /* margin: auto; */
}

.fetures p {
    line-height: 35px;
}

.fetures1 img {
    padding-top: 27px;
}

.company-logos {
    display: flex;
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 110px 0px;
}

.clipboard-container {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    width: 60%;
    margin-bottom: 100px;

}

.clipboard-container p {
    line-height: 20px;
    width: 78%;
    text-align: center;
    margin: auto;
}

.footer-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(195, 7%, 89%);
    width: 100%;
    height: 100px;
    color: hsl(210, 10%, 33%);
    padding: 10px 60px;
}

.foter1-left-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

.foter1-left-side img {
    width: 2.5rem;
    margin: 70px;

}

.span-text {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 400px;
}

.footer-icon {
    cursor: pointer;
}

.footer-icons img {
    margin: 10px;
}

.footer-icon:hover {
    filter: invert(18%) sepia(90%) saturate(688%) hue-rotate(130deg) brightness(110%) contrast(80%);
}



.attribution {
    font-size: 21px;
    text-align: center;
    padding: 20px;

}

.attribution a {
    color: black;
    text-decoration: none;
    font-weight: 700;
}