* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2 {
    color: hsl(210, 10%, 33%);
}

p {
    color: hsl(201, 11%, 66%);
}

body {
    height: 100vh;
    width: 100%;
    background-image: url(images/bg-header-desktop.png);
    object-position: top;
    object-fit: cover;
    height: 340px;
    width: 100%;
    background-repeat: no-repeat;
    font-family: 'Quicksand', sans-serif;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

#header-logo {
    padding-top: 60px;
}


.first-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin-bottom: 100px;

}

.first-container h1 {
    font-size: 3rem;
}

.first-container p {
    width: 500px;
    text-align: center;
}

.bn632-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:focus {
    outline: none;
}

.bn632-hover.bn26 {
    background-image: linear-gradient(to right, #25e1df, #44e5eb, #04befe, #02fdf3);
    box-shadow: 0 4px 15px 0 hsl(171, 66%, 44%);
}

.first-container-buttons .second-button {
    background-image: linear-gradient(to right, hsl(233, 100%, 69%), hsl(233, 100%, 69%), #04befe, hsl(233, 100%, 69%));
    box-shadow: 0 4px 15px 0 hsl(233, 100%, 69%);
}


.second-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* 
    padding: 20px;
    margin: auto;
    font-family: 'Roboto', sans-serif; */

}

.conputer-section {
    display: flex;
    gap: 70px;
}

.computer-section-texts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 380px;
    line-height: 55px;
    text-align: start;
    gap: 10px;
}

.computer-section-texts p {
    line-height: 30px;
}

.first-container-last-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: 30px;
    gap: 30px;
    margin-top: 100px;
}

.first-container-last-div p {
    width: 47%;
}

.first-container-last-div h2 {
    font-size: 2rem;
}






.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}